body {
  background-color: #f9f9fa;
}
time {
  color: black;
}

.ps-container::-webkit-scrollbar {
  display: none;
}

.ps-container {
  padding: 30px 20px;
  position: relative;
  overflow-y: scroll;
  height: 65vh;
  -ms-touch-action: auto;
  touch-action: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #d2e6ed;
  border-radius: 7%;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
  background-color: #b0c8e2;
  flex-wrap: wrap;
  border-radius: 7%;
  margin-top: 20px;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media-chat .media-body {
  -webkit-box-flex: initial;
  flex: initial;
  display: flex;
  flex-direction: column;
}

.media-body {
  min-width: 0;
  max-width: 100%;
}

.media-chat .media-body p {
  max-width: 100%;
  width: fit-content;
  word-wrap: break-word;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #a9ba74;
  border-radius: 3px;
  color: #000000;
}

.media > * {
  margin: 0 8px;
}

.media-chat .media-body p.meta {
  background-color: transparent;
  padding: 0;
  opacity: 0.8;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: column;
  margin-left: calc(100% - 250px);
}

.media-chat {
  max-width: 250px;
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media-chat.media-chat-reverse .media-body p {
  float: right;
  clear: right;
  color: #fff;
}

.border-light {
  border-color: #f1f2f3 !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.media-chat .media-body p.author {
  max-width: 100℅;
  flex-wrap: wrap;
  word-wrap: break-word;
  background-color: #d3dfe7;
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
