{% extends 'base.html' %}
{% block title %}
Комната {{ room_title }}
{% endblock %}
{% block content %}

<div class="row d-flex justify-content-center align-items-center">
    <div class="container">
        <div>
            <form>
                <div class="d-flex flex-column" id="chat-text">
                       {% for m in messages %}
                       <div class="container" id="message-container">
                            <div class="container d-flex justify-content-between">
                              <div class="container">
                                {{ m.author }}
                            </div> 
                            <div class="container">
                                {{ m.date_sent|date:"d.m.Y" }}, {{ m.date_sent|time:"G:i" }}
                            </div>
                           </div>
                        <div class="container">
                            {{ m.message_body }}
                        </div>
                        <button class="delete-button"
                        data-message-key="{{ m.message_key }}">Удалить</button>

                       </div>
                       <br/>
                        {% endfor %} 
                </div>
                <br/>
                <div class="form-group">
                    <input class="form-control" id="user-message" type="text" size="80">
                </div>
                <br/>
                <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Отправить">
            </form>
        </div>
    </div>
</div>
<div class="container">
    
</div>
{{ room_title|json_script:'room_title' }}

{% endblock %}
{% block scripts %}
<script>
    const user_name = localStorage.getItem('user-nickname');
    const roomTitle = JSON.parse(document.getElementById('room_title').textContent);
    

    var delete_buttons = document.getElementsByClassName('delete-button')

    for(var i = 0; i < delete_buttons.length; i++){
        const key = delete_buttons[i].getAttribute('data-message-key');
        delete_buttons[i].addEventListener('click', function (){

            chatSocket.send(JSON.stringify({
            'message_key': key
            }))
        })
    }

    document.querySelector('#submit').onclick = (e) => {
        const inputMessage = document.querySelector('#user-message').value;
        var message_date = new Date();
        chatSocket.send(JSON.stringify({
            'message': inputMessage,
            'user_name': user_name,
            'room_title': roomTitle,
            'message_key': message_date
        }))
        inputMessage.value = '';
    };
       
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/' + roomTitle + '/'
    );

    chatSocket.onmessage = (e) => {
        var data = JSON.parse(e.data);
        //create container for new message
        var new_message_container = createHTMLelement('div', 'class', 'container')
        new_message_container.id = 'message-container';
        //create text container
        var text_container = createHTMLelement('div', 'class', 'container')
        text_container.textContent = data.message;
        
            
            var options = { month : 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }
            const django_date_format = new Intl.DateTimeFormat(undefined, options).format(new Date(data.message_key))
        
           //create and fillin inner divs
            var header_container = createHTMLelement('div', 'class', 'container d-flex justify-content-between')
            var author_container = createHTMLelement('div', 'class', 'container')
            author_container.textContent = user_name;
            var date_container = createHTMLelement('div', 'class', 'container')
            date_container.textContent = django_date_format;
            //append inner divs in message container
            header_container.appendChild(author_container)
            header_container.appendChild(date_container);
            new_message_container.appendChild(header_container); 

        new_message_container.appendChild(text_container);
        var delete_button = createHTMLelement('button', 'id', 'delete-button')
        delete_button.textContent = 'Удалить';
        delete_button.setAttribute('data-message-key', data.message_key);
        console.log(data.message_key)
        delete_button.addEventListener(
            'click', function (){
                const key = this.getAttribute('data-message-key');
                chatSocket.send(JSON.stringify({
                    'message_key': key
                }))
            }
        )
        new_message_container.appendChild(delete_button);
        new_message_container.appendChild(document.createElement('br'));
        document.querySelector("#chat-text").appendChild(new_message_container);
    }

    chatSocket.onopen = (e) => {
        if(!user_name){
            window.location.pathname = '/'
        }     
        document.getElementById('user-message').focus() 
    }

    chatSocket.onclose = (e) => {

        localStorage.removeItem('user-nickname')
    }

    const createHTMLelement = (elem, attrName=null, attrs=null) =>{
        const result = document.createElement(elem);
        if(attrName){
            result.setAttribute(attrName, attrs)
        }
        return result;
    }

    // function deleteMessage(user, room, message, date){

    // }
</script>
{% endblock %}