{% extends 'base.html' %}
{% block title %}
Что-то пошло не так
{% endblock %}
{% block content %}
<div class="container">
    {% if error %}
        <h4>
            Комната, которую вы ищите, не существует.
            Если вы уже ввели свой ник-нейм, пожалуста, перейдите
            в комнату 
            <a href="/chat">
                выбора чатов
            </a>
        </br> 
        </h4>
    {% else %}
    <h4>К сожалению произошла неизвестная ошибка(
        Пока мы стараемся её исправить, пожалуста, перейдите на 
        <a href="/">
            главную
        </a> страницу
    </h4>
    {% endif %}
</div>
{% endblock %}